<div id="inner-wrapper">
  <%= form_for(@user, :as => 'user', :url => complete_signup_path(@user), :html => { role: 'form', style: 'padding-top: 50px'}) do |f| %>
      <%= f.text_field :email, :autofocus => true, :value => '', placeholder: 'Example: email@me.com' %>

      <p>Please confirm your email address.</p>

      <%= f.submit 'Submit', id: "email" %>
  <% end %>
</div>